.calendar-root {
  width: calc(100vw - var(--nav-rail-width));
  height: calc(100vh - var(--app-bar-height));
}

.column-root {
  min-width: 400px;
  height: min-content;
}

.column-headers-container {
  margin-right: var(--scrollbar-thickness);
}

.column-header {
  min-width: 400px;
  height: 60px;
}

.columns-container {
  width: calc(100vw - var(--nav-rail-width));
  height: calc(100vh - var(--app-bar-height) - 60px);
}
