.calendar-root {
  width: calc(100vw - var(--nav-rail-width));
  height: calc(100vh - var(--app-bar-height));
}

.header-spacer {
  min-width: var(--time-column-width);
  height: 60px;
}

.column-headers-container {
  margin-right: var(--scrollbar-thickness);
  width: calc(100vw - var(--nav-rail-width) - var(--time-column-width));
}

.column-header {
  min-width: 400px;
  height: 60px;
}

.columns-container {
  width: calc(100vw - var(--nav-rail-width) - var(--time-column-width));
  height: calc(100vh - var(--app-bar-height) - 60px);
}

.event-sheet-open {
  width: calc(100% - var(--event-sheet-width));
}

.column-root {
  min-width: 400px;
  height: min-content;
}

.cell {
  min-height: var(--cell-height);
}

.time-column {
  height: calc(
    100vh - var(--app-bar-height) - 60px - var(--scrollbar-thickness)
  );
  min-width: var(--time-column-width);
}

.time-cell {
  min-width: var(--time-column-width);
  min-height: var(--cell-height);
}

.timestamp {
  top: -10px;
  right: 5px;
}
